/* css */
body{
	text-align: center;
	background-color: #f6f6f6;
}

.main {
  cursor: pointer;
  text-align: left;
  font-size: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem 0.5rem 1rem;
  width: 8rem;
  height: auto;
  margin: 0 ;
/* use absolute positioning  */
  position: absolute;
  list-style: none;
  opacity: 1;
  transition: opacity 0.5s linear;
}